@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
*{
  margin:0;
  padding:0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
a{
  text-decoration:none;
}
a:hover{
  color:#fff;
}
.navbar{
  height:60px;
  background:linear-gradient(#5b5c60, #0f1010);
  background:-webkit-linear-gradient(#5b5c60, #0f1010);
  background:-moz-linear-gradient(#5b5c60, #0f1010);
  font-family:arial;
 }
.contaier{
  margin:auto;
}
.navbar-header{
  padding:0 0;
}
.navbar-brand{
  font-family: 'Lily Script One', arial;
  color:#e5e7ee;
  padding:0 20px 0px 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-right: 5px;
  display: block;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.3);
}
.toggle{
  float:left;
  width: 70px;
  height: 40px;
  padding-top: 2px;
  position: relative;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  background: linear-gradient(#535458, #1c1d1e);
  background: -webkit-linear-gradient(#535458, #1c1d1e);
  background: -moz-linear-gradient(#535458, #1c1d1e);
  border: 1px solid rgba(0,0,0, 0.3);
  box-shadow: 0 1px 1px rgba(255,255,255, 0.3) ,
              inset 0 2px 1px rgba(255,255,255, 0.3);
  cursor: pointer;
}
.toggle:hover{
  background: #38393b;
}
.toggle:active{
  background: #1c1d1e;
  box-shadow: 0 1px 1px rgba(255,255,255, 0.3) ,
              inset 0 2px 1px rgba(0,0,0, 0.9);
}
.toggle:focus{
  outline: none;
}
.toggle > span{
  display: block;
  border-radius: 2px;
  height: 5px;
  width: 34px;
  background: #6e7074;
  margin: auto;
  margin-bottom: 3px;
}
.navcollaps{
  height:0;
  overflow:hidden;
  background:#0f1010;
  padding: 0 5px;
  width: 150px;
  transition:height .5s;
  -webkit-box-sizing:border-box;
  padding-left: 0px;
  border-radius: 0 0 10px;
  position: relative;
  z-index: 1;
}
.nav > li:first-child{
  padding-top: 5px;
}
.nav > li{
    list-style:none;
    display: block;
}
.nav > li > a{
    padding:10px 10px;
    margin-left: 5px;
    line-height:30px;
    background: #404343;
    color:#ccc;
    display: block;
    border-top: 1px solid #353737;
    border-bottom: 1px solid #5e6262;
    transition:padding-left 0.3s;
 }
 .nav > li > a:hover{
  padding-left: 15px;
  color: #fff;
 }
 .nav > li:last-child > a{
  border-radius: 0 0 10px 0;
 }
 .nav > li > a:hover{
  background: #2d2f2f;
 }

@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  

  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
div.card {
  height: 400px;
  width: 250px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  border-radius: 20px;
  background: orange;  




  box-shadow: -2px 10px 76px -6px rgba(0,0,0,0.75);
  margin: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
div.card>p {
font-size: 14px;
  margin: 5px 20px;
}
div.profileImg {
  margin-top: 20px;
  border-radius: 100%;
  width: 125px;
  height: 125px;
  box-shadow: -2px 10px 76px -20px rgba(0,0,0,0.75);
}
div.profileImg.first {
  background-image: url("https://th.bing.com/th/id/OIP.g4KWTK5Ek3gBkxmlQy8HUQHaEo?");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
div.profileImg.second {
  background-image: url("https://th.bing.com/th/id/R56260c6218a12dc12f110f445aaaf0e2?rik=4iVaesySBuWNhg&riu=http%3a%2f%2f3.bp.blogspot.com%2f-G-0NOpHNRio%2fUH065IfHRuI%2fAAAAAAAAHJw%2fD6GDQ4NAFZE%2fs1600%2f14.jpg&ehk=7AYbWoG5EIDiUXIp09EIPydESah2t2Wo7fwFJjIcUN8%3d&risl=&pid=ImgRaw");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
div.profileImg.third {
  background-image: url("https://breedingbusiness.com/wp-content/uploads/2019/06/cute-dog-names.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
div.card-one{
  transition-duration: 500ms;  
}
div.card-two {
  transition-duration: 500ms;
}
div.card-three {
  transition-duration: 500ms;
}
div.card-one:hover {
  margin-bottom: 100px;
  cursor: pointer;
  }
div.card-two:hover {
  margin-bottom: 100px;
  cursor: pointer;
  }
div.card-three:hover {
  margin-bottom: 100px;
  cursor: pointer;
  }
div.card>ul {
  list-style: none;
}
div.card ul li {
  margin: 20px;
  transition-duration: 500ms;
  display: inline-block;
}
div.card ul li:hover {
  transform: scale(1.5);
}
div.card ul li a {
  color: black;
}
 @media (max-width: 600px) {
div.card {
  height: 250px;
  width: 150px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  border-radius: 20px;
  background-color: white;
  box-shadow: -2px 10px 76px -6px rgba(0,0,0,0.75);
  margin: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: center;
}
div.card>p {
font-size: 7px;
  margin: 5px 20px;
}
div.card ul li {
  margin: 5px;
  transition-duration: 500ms;
  display: inline-block;
}
div.profileImg {
  margin-top: 20px;
  border-radius: 100%;
  width: 75px;
  height: 75px;
}
div.card-three {
  margin-bottom: 100px;
}
 
} 


.card {
	
	width: auto;
	height: auto;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	line-height: 20px;
	font-weight: lighter;
	margin-right: 30px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
  
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid white;
	color: black;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: black;
	cursor: pointer;
  border-color: grey;
}
.copyright {
	text-align: left;
	padding-top: 20px;
  padding-left: 30px;
	padding-bottom: 20px;
	background-color: grey;
	color: white;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #293F51;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}





@media(min-width:770px){
  .navbar{
  height:60px;
  background:linear-gradient(#5a8eee, #4066e8);
  background:-webkit-linear-gradient(#5a8eee, #4066e8);
  background:-moz-linear-gradient(#5a8eee, #4066e8);
  font-family:arial;
 
}
  .contaier{
    width:750px;
  }
  .navbar-header{
    float:left;
  }
  .navbar-header{
    background: rgba(255,255,255, 0.1);
  }
  .toggle{
    display: none;
  }
  .navcollaps{
    display: block;
    height:0 !important;
    padding-top:10px !important;
    background:transparent !important;
    width: auto;
    margin:0;
    padding:0;
    overflow:visible ;
  }
  .nav{
    margin:0;
    padding:0;
  }
  .nav > li{
    float:left;
    list-style:none;
    padding: 5px;
    
  }
  .nav > li > a{
    border-radius: 5px !important;
    background: transparent;
    padding:0 15px;
    border: none;
  }
  .nav > li > a:hover{
  background:-webkit-linear-gradient(#d9e2f9, #becdf6);
  background:-moz-linear-gradient(#d9e2f9, #becdf6);
  background:linear-gradient(#d9e2f9, #becdf6);
  color: #4066e8;
 }
  
}
@media(min-width:990px){
  .contaier{
    width:950px;
  }
}

@media(min-width:1200px){
  .contaier{
    width:1170px;
  }
}

.show{
  height:270px;
}
